/* =================================================================== 
 *
 *  Custom Stylesheet Created By Brian DeVore
 *  08-12-2020
 *  Use this sheet to add any custom style rules for the site
 *  ------------------------------------------------------------------
 */

 .badge_container {
     clear: both;
 }

 .badge_row {
     clear: both;
 }
 
 .badge {
     float: left;
     width: 140px;
 }